.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: block;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 32px;
  text-align: left;
}

.form__input {
  display: block;
  background: #ffffff;
  box-sizing: border-box;
  min-height: 60px;
  min-width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__input::placeholder {
  color: #838383;
  align-items: flex-start;
}

.form__button-submit {
  display: block;
  box-sizing: border-box;
  min-width: 385px;
  min-height: 60px;
  background: #2f71e5;
  color: #ffffff;
  border: none;
  line-height: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 4px;
  transition: opacity 0.3s;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.form__button_submit:hover {
  opacity: 0.7;
}

.form__checkbox {
  display: inline;
  border-radius: 2px;
  max-width: 20px;
  max-height: 20px;
  vertical-align: center;
  background: #ffffff;
  vertical-align: middle;
}

.form__label-terms {
  display: inline;
  border-radius: 4px;
  max-width: 20px;
  max-height: 20px;
  margin-left: 12px;
  vertical-align: middle;
}

.form__fieldset:last-child {
  text-align: center;
  padding-bottom: 120px;
}
